body {
  margin: 0;
}
header {
  display: block;
  background-color: #373738;
  padding: 5px;
  color: #D9fB03;

}
header ul {
  float: right;
  color: #D9fB03;
}
header li {
  display: inline-block;
  padding: 15px 8px;
  color:#D9fB03 ;
}
h1 { 
  color:#D9fB03;
  background-color: black;
  
}
p {
  display:box;
    text-indent: none;
    text-transform: normal;
    background-color: black;
}
.heroImg {
  background-color: black;
  padding: 10px 15px;
}
.content {
  max-width: -20px;
  margin: 0 auto;
  padding: 108px;
  background-color: black;
  color: #EBEBEB;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 8px;
}
footer {
  background-color: #373738;
  padding: 8px;
  color: #D9fB03;
  text-align: center;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 8px;
}
.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
}


/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 60px 30px;
  background-color: black;
  color: #EBEBEB;
}
.flexContainer div {
  width: 33%;
  padding: 25px;
  background-color: black;
  color: #EBEBEB;
}

/* My Work Section */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: black;
  color: #EBEBEB;
  text-align: center;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  ;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
  padding: 80px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
